/**** CSS main style sheet disaster zone MDDN201 P2 [2015] (300317288)****/

/***** INDEX STYLE *****/

/**** FONT-SIZE-STYLE ****/

/*** HEADER ***/
h1 {
    font-family:'Dekar';
    color:rgba(29, 29, 29, 0.54);
    font-size:42px;    
    font-size:2.625em;
    font-size:3.2vw;
    padding:1.5%;
}

h2 {
    font-family:'Dekar';
    color:rgba(29, 29, 29, 0.54);
    font-size:42px;    
    font-size:2.625em;
    font-size:2vw;
    padding:1%;
}

/** PARAGRAPH **/
p {
    font-family:'Dekar';
    color:black;
    font-size:18px;
    font-size:1.536em;
    /*font-size:1.8vh;*/
    font-size:0.9vw;
    padding:0.5%;
}


/**** FONT-SIZE-STYLE-END ****/

/***** BODY *****/
body {
    
    width:auto;
    height:100%;
    overflow:visible;
    padding:0.2%;
    margin:auto;
    border: 2px dashed green;
}

/***** BODY END *****/

/***** HEADER *****/
header {
    width:100%;
    height:12%;
    margin:auto;
    overflow:hidden;
   border: 2px dashed orange;
}

/**** NAV BAR ****/

/*** NAV ID [NEEDS FIXING] ***/
#navBar {
    width:454px;
    width:23.84%;
    height:80px;
    height:85%;
    margin:0.5%;
    display:inline-block;

    /*border: 2px dashed #c916de;*/
  }

#h1NavHeader {
    text-align:center;
}
/*** NAV ID END ***/

/** NAV CLASS **/
.navNews {
    float:left;
    background-color:#FFFFCB;

    /**/
    border: 2px dashed #c916de;
}

.navHelpOut {
    background-color:#F2F2C1;
    
    /**/
    border: 2px dashed #ff0000; 
}

.navPrep {
    background-color:#C9FFD5;
    
    /**/
    border: 2px dashed #0026ff;
}

.navMoreInfo {

    float:right;
    background-color:#74CEB7;

    /*[NEEDS FIXING]*/
    /* WORKS BUT NOT FULLSCREEN
    position:absolute;
    height:11.5%;
    height:7vw;
    max-height:;
    display:inline-block;
    
    margin-top:-125px;
    margin-top:-6.5%;
    margin-left:75.1%; */ 

    border: 2px dashed #ff00dc;
}

/**-+ HIDE THE BASTARD >:) +-**/
/* FOR GIGGLES https://www.youtube.com/watch?v=ONRDwJlCpn4 */
.moreInfoHide {
    width:100%;
    height:15%;
    overflow:hidden;
    /*[NEEDS FIXING]*/
    border: 2px solid #ff00dc;
}

/***+++++ NAV EXPAND +++++***/
/**+++ ID +++**/

/**+++ ID END +++**/

/*++ CLASS ++*/

#navNExpand {
    width:23.84%;
    /*height:90%;*/
    /* SETTING CHANGED BY JS*/
    margin:0.5%;
    padding:0.2%;
    overflow:scroll;
    float:left;
    position:absolute;
    z-index:1;
    
    
    background-color:#FFFFCB;

    /**/
    border: 2px dashed #c916de;
}

/** NEWS EXPAND CONTENT **/
.NSCR1 {
    height:auto;
    margin-bottom:0.5%;
    /**/
    border:1px solid #00d1ab; /* BLUE */
}

.NSCR2 {
   height:auto;
   margin-bottom:0.5%;
   /**/
   border:1px solid #ff0000; /* RED */
}

.NSCR3 {
   height:auto;
   margin-bottom:0.5%;
      /**/
   border:1px solid #ff00dc; /* PURPLE */
}

.NSCR4 {
   height:auto;
   margin-bottom:0.5%;
      /**/
   border:1px solid #fffa00; /* YELLOW */
}

.NSCR5 {
   height:auto;
   margin-bottom:0.5%;
      /**/
   border:1px solid #ff0000; /* RED */
}

.NSCR6 {
   height:auto;
   margin-bottom:0.5%;
      /**/
   border:1px solid #ff0000; /* RED */
}


/** NEWS EXPAND CONTENT END **/

#navHExpand {
    width:23.84%;
    /*height:90%;*/
    /* SETTING CHANGED BY JS*/
    margin-top:0.5%;
    margin-left:25.24%;
    padding:0.2%;
    position:absolute;
    z-index:1;

    background-color:#F2F2C1;
    
    /**/
    border: 2px dashed #ff0000; 
}

#navPExpand {
    width:23.84%;
    /*height:90%;*/
    /* SETTING CHANGED BY JS*/
    margin-top:0.5%;
    margin-left:50.10%;
    padding:0.2%;
    position:absolute;
    z-index:1;

    background-color:#C9FFD5;
    
    /**/
    border: 2px dashed #0026ff;
}

#navMIExpand {
    width:23.84%;
    /*height:90%;*/
    /* SETTING CHANGED BY JS*/
    margin-top:0.5%;
    margin-left:75%;
    padding:0.2%;
    float:right;
    position:absolute;
    z-index:1;

    
    background-color:#74CEB7;
    
    /**/
    border: 2px dashed #ff00dc;
}

/*++ CLASS END ++*/

/***+++++ NAV EXPAND END ***+++++/

/**+++ NAV HIDE ON LOAD +++**/
.hidden {
    display:none;
}
/**+++ NAV HIDE ON LOAD END +++**/

/** NAV CLASS END**/

/*** NAV FINISH **/

/***** HEADER FINISH *****/



/***** ARTICLE *****/
article {
    height:75%;
    border: 2px dashed red;
}

/**** GOOGLE API ****/

/*** BOOTSTRAP EDIT ***/

.container-fluid {
/* overflow:hidden;*/
padding:0.5%;
/**/
border:2px solid #7000ff; /*PURPLE*/
}



/*** BOOTSTRAP EDIT END ***/
/*** ID ***/

#mainContainerApi {
    width:auto;
    height:100%;
     /*overflow:hidden;*/ 
    /* 
    border:2px dashed #23a0c2; /* LIGHT BLUE */

}
/* 
#googleAPI {

     
    border:2px solid black; [NeedsFixing] 
} */

/*** ID END ***/

/** CLASS **/
.googleContainer {
    overflow:hidden;
    width:auto;
    height:100%;
    
    /* */
    border:2px dashed black;

}

#googleAPI {
    width:auto;
    height:99vh;
    
    
    /* */
    border:1px solid orange;

}

/** CLASS END **/

/**** GOOGLE API END ****/

/***** ARTICLE END *****/

/***** FOOTER *****/
footer {
    width:100%;
    height:auto;
    margin:auto;
   border: 2px dashed blue;
}

/*** ID ***/
#footerDiv {
    width:100%;
    height:6vw;
    margin:inherit;

    /**/
    border:5px solid #fffa00; /*YELLOW*/
}

/*** ID END ***/

/*** CLASS ***/

/*** CLASS END ***/

/***** FOOTER END *****/


/*** INDEX STYLE END ***/
